<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    {% load staticfiles %}
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/marker-animate-unobtrusive/0.2.8/vendor/markerAnimate.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/marker-animate-unobtrusive/0.2.8/SlidingMarker.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script> 

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1MOB3CRAsFqGq2oXiVyw-gaewv3yXEss&callback=initMap"async defer></script>
    
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.4.0.min.js"></script>
     <script src="{% static "dronesensor/gmap.js" %}"　type="text/javascript"> </script>
  </body>
</html>